# Bias Analysis: NovaCred Credit Applications

**Dataset:** `data/cleaned_credit_applications.csv` pre-cleaned by `01-data-quality.ipynb`  

## Scope

This notebook covers:

1. **Disparate Impact Ratio** for gender: DI = approval_rate(Female) / approval_rate(Male) flag if < 0.8
2. **Proxy discrimination**  correlations between non-protected attributes and outcomes
3. **Age-based bias** patterns
4. **Interaction effects** (e.g. age × gender)

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load pre-cleaned dataset from the data quality pipeline
df = pd.read_csv("../data/cleaned_credit_applications.csv")

# Print the number of records and columns in the loaded dataframe
print(f"Loaded {len(df)} records with {df.shape[1]} columns")

# Set column names for gender and loan approval status
gender_col   = 'applicant_info.gender_clean'
approved_col = 'decision.loan_approved'

df.head(3)

Loaded 500 records with 37 columns

,_id,processing_timestamp,applicant_info.full_name,applicant_info.email,applicant_info.ssn,applicant_info.ip_address,applicant_info.gender,applicant_info.date_of_birth,applicant_info.zip_code,financials.annual_income,...,spending_Fitness,spending_Entertainment,spending_Insurance,spending_Travel,spending_Transportation,spending_Utilities,spending_Groceries,spending_Education,spending_Adult Entertainment,spending_Gambling
0,app_200,2024-01-15T00:00:00Z,Jerry Smith,jerry.smith17@hotmail.com,596-64-4340,192.168.48.155,Male,2001-03-09,10036.0,73000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,app_037,NaN,Brandon Walker,brandon.walker2@yahoo.com,425-69-4784,10.1.102.112,M,1992-03-31,10032.0,78000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,app_215,NaN,Scott Moore,scott.moore94@mail.com,370-78-5178,10.240.193.250,Male,1989-10-24,10075.0,61000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN